.progress-bar {
    -fx-accent: #EA006D;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.progress-bar > .track {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: #444;
}